@import "./menu_burger.css";

body {
  font-family: Arial, sans-serif;
  margin: 0;
}
button{
  border-radius: 5px;
  border: 1px solid #dedede;
  padding-top: 3px;
  cursor: pointer;
}
button i {
  color: black;
}
header {
  height: 10%;
  background-color: grey;
  padding: 0.1%;
}
header h1 {
  margin-bottom: 0;
  margin-top: 0;
  width: 10vw;
}
h1 {
  text-align: left;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
main {
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.without-menu-container {
  margin: 10px;
  width: 100%;
}
.cms-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cms-container h1 {
  margin-left: 43px;
  color: white;
  margin-top: 5px;
}
.notifications-and-profile-container {
  display: flex;
  align-items: center;
  width: 15vw;
  padding-right: 5vw;
}
.notifications-and-profile-container img {
  flex-shrink: 0;
  cursor: pointer;
}
.profile-container p {
  margin: 0%;
  width: 10vw;
  padding-left: 0.2vw;
}
.profile-container {
  display: flex;
  align-items: center;
}
.students-table {
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
  padding-left: 10vw;
}
.table-container {
  overflow-x: auto;
  max-height: 60vh;
}
.group {
  text-align: center;
}
.btn-edit,
.btn-delete,
.btn-add {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
.btn-edit {
  background-color: #009900;
}
.btn-delete {
  background-color: #ff0000;
}
.btn-add-container {
  width: 100%;
  text-align: right;
  margin-top: 1%;
  margin-bottom: 1%;
}
.pagination {
  text-align: center;
  margin-top: 20px;
}
.pagination a {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  color: black;
}
.pagination a:hover {
  background-color: #ddd;
}
.red-dot {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  margin-left: 5px;
  margin-bottom: 10px;
  display: inline-block;
  position: absolute;
  animation: blink 1s infinite;
}
.menu-container {
  top: 0;
  width: 15%;
  margin: 0;
  list-style: none;
}
.notifications-and-profile-container{
  overflow: hidden;
  display: flex;
  justify-content: space-around;  
}
.notifications-and-profile-container button{
  background-color: hsla(0, 0%, 0%, 0);
  border-radius: 5px;
  color: white;
  padding-right: 20px;
  margin-right: 10px;
  border: none;
  display: flex;
  align-items: center;
}
.notifications-and-profile-container a{
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}
.user-content, 
.notify-content{
  display: none;
  border-radius: 5px;
  background-color: hsl(0, 0%, 95%);
  position: absolute;
  min-width: 130px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
}
.notify-dropdown:hover .notify-content, 
.user-dropdown:hover .user-content{
  display: block;
}
.notify-dropdown:hover button, 
.user-dropdown:hover button{
  background-color:  hsl(0, 0%, 70%);
}
.notify-dropdown a:hover, 
.user-dropdown a:hover{
  border-radius: 5px;
  background-color: hsl(0, 0%, 90%);
}
.notify-dropdown button{
  height: 42px;
  padding-right: 7px;
  padding-left: 17px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notify-dropdown{
  width: 40px;
  margin: 0px;
}
.user-dropdown{
  margin-left: 10px;
}
.status-dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
  background-color: #9c9c9c;
}
.active-dot {
  background-color: #19be5b;
}

#userBtn p {
  margin-left: 10px;
  color: white;
}
#bellIcon{
  margin-right: 10px;
  color: white;
}
#profilePicture{
  border-radius: 20px;
  color: white;
}
#username {
  color: black;
}

@media screen and (max-width: 675px) {
  header {
    background-color: white;
  }
  .cms-container p {
    visibility: hidden;
  }
  .cms-container h1 {
    color: black;
  }
  #bellIcon {
    color: black; 
  }
  #profilePicture {
    color: black;
  }
  #userBtn p {
    color: black;
  }
}

@media screen and (max-width: 1200px) {
  .students-table {
    width: 100%;
  }
  .menu-container {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .user-dropdown h4 {
      display: none; 
  }
  .user-dropdown{
      pointer-events: none;
      margin-left: 28px; 
  }
  #userBtn{
      padding: 0px;
  }
  .notify-content{
      right: 10px;
      left:auto;
  }
  .notifications-and-profile-container{
    padding-right: 15vw;
    justify-content:space-between;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
